<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/admin_style.css}">
</head>

<body>
<div class="container">
    <h1 class="page-title">Admin Panel</h1>

    <div class="admin-card">
        <h2>Yönetim</h2>

        <div class="button-group">
            <a href="/admin/add-employee" class="btn btn-primary">➕ Yeni Employee Ekle</a>
            <a href="/admin/employees" class="btn btn-primary">👥 Employee-Overal Availability  Listesi</a>
            <a href="/admin/all-employees" class="btn btn-primary">📋 Bütün Employees</a>
        </div>
    </div>
</div>
</body>
</html>
