<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Employee Dashboard</h1>

    <div class="button-group">
        <a th:href="@{|/employees/${employeeId}/current-jobs|}" class="btn">Mevcut İşlerim</a>
        <a th:href="@{|/employees/${employeeId}/completed-jobs|}" class="btn btn-secondary">Tamamlanan İşlerim</a>
    </div>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>